
<div class="about">
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to EventMy</h1>
			<h2>The Malaysian online event marketplace</h2>
			<p>Created by 'Megat Taufiq'</p>
		</div>
</div>
</div>

